[submodule "themes/ananke"]
	path = themes/ananke
	url = git@github.com:imiron-io/gohugo-theme-ananke.git
[submodule "themes/gallery"]
	path = themes/gallery
	url = https://github.com/nicokaiser/hugo-theme-gallery.git
