// Set your brand colors
$blue: #1572a1;

// Path to Bulma's sass folder
@use "bulma/sass" with (
  $family-primary: '"IBM Plex Sans", "IBM Plex Sans JP", sans-serif',
  $body-font-size: 14px,
  $body-color: #f5f5f5,
  $primary: $blue,
  $link: $blue
);

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans+JP:wght@100;200;300;400;500;600;700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.subtitle { font-size: .9em; }

.navbar-main {
  border-bottom: 1px solid #4f100b;
  .page-translate-link {
    font-family: monospace;
  }
}

body main.section div.container.container-main-content {
  max-width: 960px !important;
}

.team-member {
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
  // Switch to row layout on wider screens
  @media screen and (min-width: 769px) {
    flex-direction: row;
  }

  .name {
    margin-bottom: 0;
  }

  .position {
    font-family: "IBM Plex Mono", monospace;
    font-size: .8em;
  }
  .photo {
    width: 100%;

    @media screen and (min-width: 769px) {
      width: 30%;
    }
  }

  .details {
    width: 100%;

    @media screen and (min-width: 769px) {
      width: 60%;
      padding-left: 1em;
    }
  }
}
