<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}" data-theme="dark">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="background-effect">
    <header>
      {{ partial "header.html" . }}
    </header>
    <main class="section">
      <div class="container container-main-content">
        {{ block "main" . }}{{ end }}
      </div>
    </main>
    <footer class="footer">
      {{ partial "footer.html" . }}
    </footer>
  </body>
</html>
