{{ define "main" }}
  <div class="content">
    {{ .Content }}
    <div class="page-count">Number of posts: {{ len site.RegularPages }}</div>
  </div>
  <div class="home-items">
    {{ range site.RegularPages }}
      <div class="home-item">

        <div class="field">
          <div class="field-name">title</div>
          <div class="field-item">
            <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
          </div>
        </div>

        <div class="field">
          <div class="field-name">date</div>
          <div class="field-item">
            <div class="date">{{ .Date.Format "2006-01-02" }}</div>
          </div>
        </div>

        {{ with .Params.author }}
          <div class="field">
            <div class="field-name">author</div>
            <div class="field-item">
              <div class="author">{{ . }}</div>
            </div>
          </div>
        {{ end }}

        <div class="field">
          <div class="field-name">summary</div>
          <div class="field-item">
            <div class="content">{{ .Summary }}</div>
          </div>
        </div>

        {{ with .Params.tags }}
          <div class="field">
            <div class="field-name">tags</div>
            <div class="field-item">
              {{ range . }}
                <span class="tag">{{ . }}</span>
              {{ end }}
            </div>
          </div>
        {{ end }}
      </div>
    {{ end }}
  </div>
{{ end }}
