<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
<!-- Meta description tag-->
{{ $description := "" }}
{{ if .IsHome }}
{{ $description = .Site.Params.description }}
{{ else if .Params.description }}
{{ $description = .Params.description }}
{{ else if .Summary }}
{{ $description = .Summary | plainify }}
{{ else if .Site.Params.description }}
{{ $description = .Site.Params.description }}
{{ end }}
<meta name="description" content="{{ $description }}">

{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
<link rel="shortcut icon" href="/images/imiron_favicon.png" type="image/x-icon" />

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-335BGC0V15"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-335BGC0V15');
</script>
